<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="icon" type="image/png" href="home.png">
</head>

<body>
    <h1>
        <%= htmlWebpackPlugin.options.title %>
    </h1>
    <div class='container'>
        <div class='container' id='app-sim-container'></div>
    </div>
    <div class='container'>
        <div class='container' id='app-sim-dbg-container'></div>
    </div>
</body>

</html>